.aiToolbar{
    width: 100%;
    background-color:rgb(247, 247, 248);
    position: absolute;
    display:none;
    z-index: 1;
  }

  .aiToolbar button {
    background-color: rgb(85, 72, 217); /* Sitecore Purposle background */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Sitecore border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .aiToolbar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .aiToolbar:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .aiToolbar button:hover {
    background-color: rgb(74, 40, 217);
  }